### len()
- Cantidad de datos que se tiene

In [2]:
puntajes = [1,2,3,4,1,2,3,4,5,5,6]
print(f"La cantidad de puntajes obtenidos es: {len(puntajes)}")

La cantidad de puntajes obtenidos es: 11

### type()
- Indica el tipo de datos que se tiene

In [ ]:
val_1 = 1
val_2 = 1.5
val_3 = "a"
val_4 = True

print(type(val_1)) #número entero
print(type(val_2)) #número decimal
print(type(val_3)) #cadenas de texto
print(type(val_4)) #valor lógico

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### sum() // np.mean() - de NumPy
-   Suma y promedio de valores

In [11]:
import numpy as np #importando la librería numpy

puntajes = [1,2,3,4,5,7,6,3,4]
print(f"La sumatoria de los puntajes es {sum(puntajes)}")
print(f"El promedio de los puntajes es {np.mean(puntajes)}")

La sumatoria de los puntajes es 35
El promedio de los puntajes es 3.888888888888889

### map()
- Aplica una función a cada elemento

In [31]:
nombres = ["ana","juan","carlos","jose"]
valores = [1,0,1,0,1,1]
print(list(map(str.upper, nombres))) #mayúscula a cada elemento
print(list(map(bool, valores))) #transforma a su equivalente booleano

['ANA', 'JUAN', 'CARLOS', 'JOSE']
[True, False, True, False, True, True]

### apply() - de Pandas
- Aplica una funcion a una Serie o DataFrame

In [43]:
import pandas as pd # importando Pandas

puntajes = pd.Series([1,2,3])
def multiplicar(data):
    return data * 2
print(puntajes.apply(multiplicar)) # multiplicando cada valor por 2
print("="*30)
puntajes_1 = pd.Series([1,2,5,6,7,8])
def val_mayores(data):
    return data if data > 5 else None # retorna solo los valores mayores a 5
print(puntajes_1.apply(val_mayores))

0    2
1    4
2    6
dtype: int64
==============================
0    NaN
1    NaN
2    NaN
3    6.0
4    7.0
5    8.0
dtype: float64

### lambda()
- Funciones anónimas (sin nombre): de forma rápida y en una sola línea

In [54]:
import pandas as pd
puntajes = [1,2,3,4,4,5]
print(list(map(lambda x: x*2, puntajes))) # multiplicar a cada valor de la lista
print("="*30)
puntajes_1 = pd.Series([1,2,4,5])
print(puntajes_1.apply(lambda x: x/2)) # división a cada valor de la lista
print("="*30)
print((lambda x,y: x*2 + y*3)(2,3)) # llama a la función lambda con los argumentos (x=2, y=3)

[2, 4, 6, 8, 8, 10]
==============================
0    0.5
1    1.0
2    2.0
3    2.5
dtype: float64
==============================
13

### groupby() - de Pandas
-   Agrupación de datos

In [70]:
import pandas as pd

puntajes = pd.DataFrame({"nombres": ["Juan","Luis","Ana","Sonia","Katherine","Sofia"],
                        "sexo": ["masculino","masculino","femenino","femenino","femenino","femenino"],
                        "resultado": [12,13,5,11,15,5]})

print(puntajes.groupby("sexo")["resultado"].mean()) # promedio de resultados por género
print("="*30)
print(puntajes.groupby("sexo").size()) # cantidad de personas por género

sexo
femenino      9.0
masculino    12.5
Name: resultado, dtype: float64
==============================
sexo
femenino     4
masculino    2
dtype: int64

### merge() - de Pandas
-   combinar dos DataFrames en uno solo

In [87]:
df_1 = pd.DataFrame({"id": [2,3,5,6,10,15],
                    "resultado": [12,13,5,11,15,5]})
df_2 = pd.DataFrame({"id": [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],
                    "nombres": ["juan","maria","elizabeth","luis","carlos","joel","lucero","sonia","silvia","cesar","jose","diego","carmen","julio","melany"],
                    "sexo": ["masculino","femenino","femenino","masculino","masculino","masculino","femenino","femenino","femenino","masculino","masculino","masculino","femenino","masculino","femenino"]})

print(pd.merge(df_1, df_2, on="id", how="inner")) # uniendo solo las filas que coinciden en ambas tablas
print("="*40)
print(pd.merge(df_1, df_2, on="id", how="right")) # uniendo todas las filas del derecho y las coincidencias del izquierdo.

   id  resultado    nombres       sexo
0   2         12      maria   femenino
1   3         13  elizabeth   femenino
2   5          5     carlos  masculino
3   6         11       joel  masculino
4  10         15      cesar  masculino
5  15          5     melany   femenino
========================================
    id  resultado    nombres       sexo
0    1        NaN       juan  masculino
1    2       12.0      maria   femenino
2    3       13.0  elizabeth   femenino
3    4        NaN       luis  masculino
4    5        5.0     carlos  masculino
5    6       11.0       joel  masculino
6    7        NaN     lucero   femenino
7    8        NaN      sonia   femenino
8    9        NaN     silvia   femenino
9   10       15.0      cesar  masculino
10  11        NaN       jose  masculino
11  12        NaN      diego  masculino
12  13        NaN     carmen   femenino
13  14        NaN      julio  masculino
14  15        5.0     melany   femenino

### value_counts()
-   Cuenta la frecuencia de cada valor único en una Serie (una columna de un DataFrame).

In [97]:
import pandas as pd # importando pandas

generos = pd.Series(["masculino","femenino","femenino","masculino","masculino","masculino","femenino","femenino","femenino","masculino","masculino","masculino","femenino","masculino","femenino"])
print(generos.value_counts()) # conteo de valores únicos
print("="*35)
print(generos.value_counts(normalize=True)) # frecuencia de los valores

masculino    8
femenino     7
Name: count, dtype: int64
===================================
masculino    0.533333
femenino     0.466667
Name: proportion, dtype: float64